/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* VARIABLES */
:root {
  --header-height: 4rem;
  /*color mode */
  --primary-color: #0F0E0E;
  --second-strong: #00191d;
  --second-color: #002c33;
  --middle-color: #01444e;
  --light-color: #478f9a;
  --lightning-color: #F4F2F4;
  --neon-color: #00fcff;
  --gray-color: #d3d3d3;

  /* fonts */
  --dance-font: 'Dancing Script', cursive;
  --dmsans-font: 'DM Sans', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --signika-font: 'Signika', sans-serif;
  --noto-font: 'Noto Sans', sans-serif;

    /* font sizes */
    --title: 50px;
    --sub-title: 32px;
    --t-title: 24px;
    --menu: 18px;
    --text: 16px;
    --text-buttons: 14px;
}

body {
  height: 100vh;
  background: var(--middle-color);
  /* overflow-x: hidden; */
  background-repeat: no-repeat;
}

main{
  margin: auto;
  max-width: 1300px;
}

#header {
  width: 100%;
  margin: auto;
  z-index: 999;
  position: fixed;
  transition: 0.3s ease;
}

#header.scroll {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--middle-color);
}

.divider-1 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, var(--light-color), var(--second-color));
}

.divider-2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, var(--second-color), var(--light-color));
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/*----MOSTRAR MENU ------*/

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--middle-color);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul li a{
  font-size: var(--sub-title);
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid-nav {
  gap: 40px;
}


/*--------toggle menu-----------*/
.toggle i{
  color: var(--lightning-color);
  font-size: 40px;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
}

nav .icon-menu {
  transition: 0.2s;
}

.grid {
  display: grid;
  gap: 30px;
}

.logo h2{
  font-family: var(--signika-font);
  font-weight: 400;
  color: var(--lightning-color);
  font-size: var(--t-title);
}

.logo h2 span {
  font-family: var(--signika-font);
  font-weight: 700;
  color: var(--light-color);
  font-size: var(--sub-title);
}

.logo {
  display: flex;
  position: relative;
}

.imglogo {
  position: absolute;
  width: 130%;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  opacity: 0;
  visibility: hidden;
}

.title {
  font-family: var(--signika-font);
  justify-content: space-evenly;
  color: var(--lightning-color);
  font-size: var(--menu);
  -webkit-font-smoothing: auto;
  transition: 0.3s ease;
  padding: 5px 5px;
  transition: 0.3s ease;
  font-weight: 400;
  border-radius: 10px;
}

.title:hover,
.title.active:hover{
  color: var(--middle-color);
  background-color: var(--neon-color);
  box-shadow: 0 0 7px var(--neon-color), 0 0 16px var(--neon-color);
}

.title.active,
.title2.active{
  border-radius: 5px;
  border-bottom: 2px solid var(--neon-color);
  filter: drop-shadow(0 0 2px var(--neon-color));
}

.container {
  height: 100vh;
  display: flex;
  padding: 0;
  padding-top: calc(2rem + var(--header-height));
  padding-bottom: var(--header-height);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* HOME */

#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.aside {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.aside .packicons{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.aside .packicons li a i{
  font-size: var(--sub-title);
  color: var(--lightning-color);
  transition: 0.3s ease;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.aside .packicons li a:hover i{
  color: var(--neon-color);
  transform: scale(1.2);
}

.text-logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-logo .tx{
  position: relative;
  color: var(--light-color);
  font-size: 75px;
  font-family: var(--noto-font);
  font-weight: 700;
  -webkit-box-reflect: below -40px linear-gradient(transparent 50%, #fff4);
  transition: 0.2s ease;
}

.text-logo .rondev{
  /* animation: titleanime2 5s linear infinite; */
}

@keyframes titleanime2 {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
    text-shadow: none;
    color: transparent;
  }
   18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
    color: var(--lightning-color);
    text-shadow: 0 0 10px var(--neon-color),
    0 0 20px var(--neon-color),
    0 0 40px var(--neon-color);
  }
}

.text-logo:hover .rondev{
  color: var(--neon-color);
}

.text-logo:hover .tx,
.text-logo:hover .rondev,
.text-logo:hover .arrowleft{
  text-shadow: 0 0 4px var(--neon-color),
  0 0 3px var(--neon-color);
  cursor: pointer;
}

.text-logo .arrowleft{
  color: var(--lightning-color);
}

.text-logo .arrowright{
  color: var(--lightning-color);
  position: absolute;
  top: 0;
  right: 70%;
  height: 100%;
  margin-right: 5px;
  animation: logoanime0 7s steps(8) infinite;
}

@keyframes logoanime0 {
  40%, 60% {
    right: 0%;
  }
  100% {
    right: 70%;
  }
}

.tx.rondev::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--lightning-color);
  background-color: var(--middle-color);
  border-left: 2px solid var(--neon-color);
  animation: logoanime 7s steps(8) infinite;
  -webkit-box-reflect: below -40px linear-gradient(transparent 50%, #fff4);
  padding-right: 30px;
}

@keyframes logoanime {
  40%, 60% {
    left: 100%;
    margin-left: -5px;
  }
  100% {
    left: 0%;
    margin-left: -5px;
  }
}

#ronney:hover, #ronney:hover ~ #ronney-rf{
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px var(--neon-color));
  filter: drop-shadow(0 0 5px var(--neon-color));
}

.frontend {
  font-family: var(--signika-font);
  font-weight: 700;
  color: var(--lightning-color);
  font-size: var(--sub-title);
  position: relative;
  margin-top: 30px;
  transition: 0.3s ease;
 }

.frontend:hover{
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px var(--neon-color));
  filter: drop-shadow(0 0 5px var(--neon-color));
}

.aside-r {
  width: 40%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  margin: auto 20px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 120%;
  height: auto;
}

.circle img{
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.media-icons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "js js"
  "html css"
  "react react";
  transition: 0.4s;
  position: relative;
}

.media-icons li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-icons li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  pointer-events: none;
  font-weight: 700;
  transition: 0.5s;
  opacity: 0;
  color: var(--lightning-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-icons li:nth-child(1):hover:before{
  opacity: 0.2;
  transform: translate(-50%, -340%);
  width: 100%;
}

.media-icons li:nth-child(2):hover:before{
  opacity: 0.2;
  transform: translate(-50%, 200%);
  width: 100%;
}

.media-icons li:nth-child(3):hover:before{
  opacity: 0.2;
  transform: translate(-50%, -340%);
}

.media-icons li:nth-child(4):hover:before{
  opacity: 0.2;
  transform: translate(-50%, 200%);
}

.media-icons li a {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  background: var(--middle-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  border-radius: 10px;
  text-decoration: none;
  margin: 5px 25px;
  transform-style: preserve-3d;
  perspective: 200px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  transition: 0.25s ease;
}

.media-icons li a i{
  font-size: 70px;
  color: var(--light-color);
}

.media-icons li:nth-child(1){
  grid-area: html;
}

.media-icons li:nth-child(2){
  grid-area: css;
}

.media-icons li:nth-child(3){
  grid-area: js;
}

.media-icons li:nth-child(4){
  grid-area: react;
}

.media-icons li a:hover .fa-html5{
  color: #e44d26;
}

.media-icons li a:hover .fa-css3-alt{
  color: #1572b6;
}

.media-icons li a:hover .fa-js{
  color: #cfd300;
}

.media-icons li a:hover .fa-react{
  color: #61DBFB;
}

.media-icons li a .ico{
  transition: 0.25s;
  pointer-events: none;
  color: var(--lightning-color);
}

.media-icons li a:hover .ico{
  transform: scale(1.5) translateZ(50px);
}

.media-icons li a:hover{
  width: 120px;
  height: 120px;
  margin: 0;
  background: var(--light-color);
}

.media-icons li a .fa-react{
  animation: react 6s linear infinite;
}

@keyframes react {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ABOUT */

#about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
}

.about-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  height: 90%;
  margin: 20px;
  margin-right: 30px;
  gap: 30px;
}

.img-content{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
  border-radius: 25px;
  box-shadow: 0 0 5px var(--neon-color), 0 0 20px var(--neon-color), 0 0 20px var(--neon-color);
}

.img-content img {
  max-width: 97.5%;
  max-height: 96%;
  width: 97.5%;
  height: 96%;
  z-index: 20;
  object-fit: cover;
  border-radius: 25px;
}

.img-content:nth-child(1){
  margin-right: 40px;
}
.img-content:nth-child(2){
  margin-left: 40px;
}

/* animation */

.img-content::before{
  content: "";
  background-image: conic-gradient(
    var(--neon-color) 20deg,
    transparent 180deg
  );
  width: 200%;
  height: 200%;
  position: absolute;
  animation: rotate 3s linear infinite;
  z-index: 15;
}

.img-content::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neon-color);
  z-index: 15;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.about-text{
  position: relative;
  width: 50%;
  height: 100%;
  margin: 10px;
  margin-left: 20px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text h2 {
  font-weight: 700;
  color: var(--neon-color);
  font-size: var(--sub-title);
  text-shadow: 1px 1px 3px var(--primary-color);
}

.about-text h3 {
  font-weight: 700;
  color: var(--lightning-color);
  font-size: var(--t-title);
  text-shadow: 1px 1px 3px var(--primary-color);
  text-decoration: underline;
}
.about-text h3 span{
  font-weight: 700;
  color: var(--neon-color);
  font-size: var(--t-title);
  text-shadow: 1px 1px 3px var(--primary-color);
  text-decoration: underline;
}

.about-text p {
  padding-top: 20px;
  font-weight: 400;
  color: #d3d3d3;
  font-size: var(--text);
  text-align: justify;
  line-height: 26px;
}

.about-text .btn {
  font-family: var(--poppins-font);
  background-color: var(--lightning-color);
  color: var(--primary-color);
  padding: 5px 5px;
  border-radius: 20px;
  border: 2px solid var(--neon-color);
  font-weight: 700;
  font-size: var(--text);
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  width: 150px;
}

.about-text .btn:hover {
  background-color: var(--neon-color);
  color: var(--second-color);
  box-shadow: 0 0 7px var(--neon-color), 0 0 18px var(--neon-color), 0 0 16px var(--neon-color);
  transition: 0.3s ease;
}

/* courses */

#courses{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.card{
  position: relative;
  background: var(--second-strong);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2),
  0px 15px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 20px;
  width: 350px;
  height: 500px;
  -webkit-box-reflect: below 1px linear-gradient(transparent 20%, transparent, transparent, #0004);
}

.card::before{
  content: '';
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
}

.text-title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.text-title .courses-title{
  position: relative;
  font-family: var(--poppins-font);
  font-size: var(--title);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-color);
  -webkit-box-reflect: below -40px linear-gradient(transparent 20%, #0004);
  line-height: 1.5rem;
  animation: titleanime 5s linear infinite;
  padding: 40px;
  opacity: 1;
}

@keyframes titleanime {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
    text-shadow: none;
    color: var(--light-color);
    opacity: 0.2;
  }
   18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
    color: var(--lightning-color);
    text-shadow: 0 0 10px var(--neon-color),
    0 0 20px var(--neon-color),
    0 0 30px var(--neon-color);
    opacity: 1;
  }
}

.courses-title::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--lightning-color);
  background-color: var(--middle-color);
  border-left: 2px solid var(--neon-color);
  animation: logoanime2 10s steps(24) infinite;
}

@keyframes logoanime2 {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}


.swiper{
  width: 90%;
  height: 100%;
  padding: 30px;
}

.card-content{
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-content h2 {
  font-size: var(--sub-title);
  line-height: var(--sub-title);
  font-weight: 700;
  color: var(--light-color);
  z-index: 1;
  opacity: 0.3;
  transition: 0.5s ease;
  position: relative;
  top: 5px;
  margin-bottom: 10px;
}

.card-content h3{
  position: relative;
  font-size: var(--menu);
  line-height: 25px;
  color: var(--lightning-color);
  z-index: 2;
  opacity: 0.5;
  transition: 0.5s ease;
  margin-bottom: 15px;
}

.card-content h3::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: var(--lightning-color);
  opacity: 0.1;
}

.card-content h4{
  position: relative;
  font-size: var(--text);
  color: var(--lightning-color);
  z-index: 2;
  opacity: 0.5;
  transition: 0.5s ease;
  margin-bottom: 5px;
}

.card-content > p {
  opacity: 0.5;
  transition: 0.5s ease;
  color: var(--lightning-color);
  font-family: var(--signika-font);
  font-weight: 400;
  font-size: var(--text);
  display: flex;
  text-align: left;
  flex-grow: 1;
}

.card:hover .card-content p{
  opacity: 1;
}

.card-content h3 > span {
  position: relative;
  font-size: var(--menu);
  line-height: var(--menu);
  color: var(--light-color);
  z-index: 2;
  opacity: 0.5;
  transition: 0.5s ease;
  margin-bottom: 15px;
}

.card:hover .card-content h2,
.card:hover .card-content h3,
.card:hover .card-content h4,
.card:hover .card-content .number-course{
  opacity: 1;
  transform: translateY(-16px);
}

.number-course{
  font-size: 80px;
  font-weight: 700;
  color: var(--light-color);
  z-index: 1;
  opacity: 0.3;
  transition: 0.5s ease;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.card-content a {
  display: inline-flex;
  padding: 8px 16px;
  background: var(--lightning-color);
  color: var(--middle-color);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.5s ease;
  font-size: var(--text-buttons);
  text-align: center;
  align-self: center;
  margin-bottom: 8px;
}

.card-content a:hover {
  background: var(--middle-color);
  color: var(--lightning-color);
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 16px var(--neon-color);
  transform: scale(1.1);
}

/* animation card */
#courses .card > span {
  transition: 0.5s ease;
  opacity: 0;
}

#courses .card:hover{
  transform: scale(1.1);
  transition: 0.3s ease;
}

#courses .card:hover > span {
  opacity: 1;
}

#courses .card > span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--neon-color));
  animation: animatecard1 2s linear infinite;
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 16px var(--neon-color);
}

@keyframes animatecard1 {
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(100%);
  }
}

#courses .card > span:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--neon-color));
  animation: animatecard2 2s linear infinite;
  animation-delay: 1s;
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 16px var(--neon-color);
}

@keyframes animatecard2 {
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(100%);
  }
}

#courses .card > span:nth-child(3){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, var(--neon-color));
  animation: animatecard3 2s linear infinite;
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 16px var(--neon-color);
}

@keyframes animatecard3 {
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(-100%);
  }
}

#courses .card > span:nth-child(4){
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, var(--neon-color));
  animation: animatecard4 2s linear infinite;
  animation-delay: 1s;
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 16px var(--neon-color);
}

@keyframes animatecard4 {
  0%{
    transform: translateY(100%);
  }

  100%{
    transform: translateY(-100%);
  }
}
/* end animation card */

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 3rem;
}

.swiper-pagination-bullet{
  height: 10px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--neon-color);
}

.swiper-pagination-bullet-active{
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color);
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: var(--neon-color);
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  text-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 16px var(--neon-color);
}

/* certificates */

#certificates{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#certificates .courses-title::before{
  animation: logoanime2 7s steps(14) infinite;
}

.box-cert{
  width: 100%;
  height: 100%;
  perspective: 260px;
  transform-style: preserve-3d;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-cert input[type="radio"]{
  margin: 0;
  padding: 0;
  height: 10px;
  width: 20px;
  position: relative;
  top: 50%;
  margin-right: 10px;
  z-index: 5;
  opacity: 1;
}

.box-cert input[type="radio"]::before{
  content: "";
  position: absolute;
  opacity: 1;
  height: 10px;
  width: 20px;
  border-radius: 10px;
  background-color:var(--light-color);
  z-index: 6;
  opacity: 1;
}


input[type="radio"]::after{
  content: '';
  position: absolute;
  cursor: pointer;
  height: 10px;
  width: 20px;
  border-radius: 10px;
  z-index: 7;
  background-color: var(--neon-color);
  opacity: 0.2;
}

.box-cert input[type="radio"]:nth-child(5){
  margin-right: 0;
}

.box-cert input[type="radio"]:checked::before{
  background-color:var(--neon-color);
  opacity: 1;
}

.box-cert input[type="radio"]:checked::after{
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color);
  opacity: 1;
}

.box-cert label{
  position: absolute;
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.4s all ease;
  border-radius: 16px;
  gap: 10px;
}

.box-cert label iframe{
  position: relative;
  width: 85%;
  height: 95%;
  border-radius: 16px;
  transition: 0.4s all ease;
}

.box-cert .linkcert{
  padding: 5px;
  background-color: var(--gray-color);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 0 0  10px;
  width: 85%;
}

.box-cert label p {
  font-family: var(--dmsans-font);
  letter-spacing: 1px;
  align-items: center;
  margin-bottom: 2px;
  font-size: var(--text);
  color: var(--lightning-color);
  background-color: var(--middle-color);
  padding: 1px 1px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: text;
}

.box-cert label p span {
  background: var(--lightning-color);
  color: var(--middle-color);
  padding: 1px 2px;
  border-radius: 5px;
  margin-right: 5px;
  letter-spacing: 0px;
  font-size: var(--text);
  font-weight: 700;
}

.box-cert label a{
  position: relative;
  font-family: var(--signika-font);
  background: var(--lightning-color);
  color: var(--middle-color);
  font-weight: 700;
  transition: 0.4s ease;
  text-align: center;
  font-size: var(--menu);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--middle-color);
}

.box-cert label a:hover {
  background: var(--middle-color);
  color: var(--lightning-color);
  box-shadow: 1px 1px 5px var(--middle-color), 1px 1px 5px var(--neon-color);
}

#cert-1{
  background-color: var(--second-color);
}
#cert-2{
  background-color: var(--middle-color);
}
#cert-3{
  background-color: var(--light-color);
}
#cert-4{
  background-color: var(--light-color);
}
#cert-5{
  background-color: var(--middle-color);
}

#c1:checked ~ #cert-1, #c2:checked ~ #cert-2, #c3:checked ~ #cert-3, #c4:checked ~ #cert-4, #c5:checked ~ #cert-5{
  transform: translate3d(0%, 0, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30), 0 10px 5px rgba(0, 0, 0, 0.20);
}

#c1:checked ~ #cert-2, #c2:checked ~ #cert-3, #c3:checked ~ #cert-4, #c4:checked ~ #cert-5, #c5:checked ~ #cert-1{
  transform: translate3d(15%, 0, -40px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 2px 2px rgba(0, 0, 0, 0.20);
}

#c1:checked ~ #cert-3, #c2:checked ~ #cert-4, #c3:checked ~ #cert-5, #c4:checked ~ #cert-1, #c5:checked ~ #cert-2{
  transform: translate3d(30%, 0, -80px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.40);
}

#c1:checked ~ #cert-4, #c2:checked ~ #cert-5, #c3:checked ~ #cert-1, #c4:checked ~ #cert-2, #c5:checked ~ #cert-3{
  transform: translate3d(-30%, 0, -80px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.40);
}

#c1:checked ~ #cert-5, #c2:checked ~ #cert-1, #c3:checked ~ #cert-2, #c4:checked ~ #cert-3, #c5:checked ~ #cert-4{
  transform: translate3d(-15%, 0, -40px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 2px 2px rgba(0, 0, 0, 0.20);
}

/* contact */

.layout-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 0 40px;
  grid-template-areas:
  "box-form box-img"
  "box-form box-icons";
}

.box-form{
  grid-area: box-form;
  position: relative;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.form-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 30px;
  height: 100%;
  width: 100%;
  background-color: var(--second-color);
  padding: 20px 5px;
  border-radius: 25px;
  box-shadow: rgba(1, 40, 46, 0.5) 5px 5px, rgba(1, 40, 46, 0.4) 10px 10px, rgba(1, 40, 46, 0.3) 18px 18px, rgba(1, 40, 46, 0.2) 24px 24px;
}

.form-content::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid var(--lightning-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
  opacity: 0;
  border-radius: 25px;
}

.form-content:hover::before{
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.box-form .form-content h2{
  margin-top: 20px;
  font-family: var(--poppins-font);
  color: var(--lightning-color);
  font-weight: 700;
  font-size: var(--sub-title);
  text-align: center;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent 100%);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30);
}

.form-content form input, textarea, button{
  outline: none;
  border: none;
}

.form-content form input::-webkit-outer-spin-button,
.form-content form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-content form input[type=number] {
  -moz-appearance: textfield;
}

.form-content form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 30px;
  flex-grow: 1;
}

.form-content form input, textarea{
  font-family: var(--signika-font);
  font-weight: 700;
  font-size: var(--text);
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  color: var(--second-color);
  background-color: var();
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.30);
}

.form-content form textarea{
  height: auto;
  flex-grow: 1;
}

.form-content form > input:focus, textarea:focus{
  border: 2px solid var(--second-color);
  box-shadow: 1px 1px 2px var(--neon-color), 1px 1px 5px var(--neon-color), 1px 1px 5px var(--neon-color);
}

.form-content form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  align-self: center;
  font-family: var(--signika-font);
  font-size: var(--text);
  font-weight: 700;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  color: var(--second-color);
  background-color: var(--lightning-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.30);
  cursor: pointer;
  transition: 0.4s;
  z-index: 2;
}

.form-content form button:hover{
  background: var(--middle-color);
  color: var(--lightning-color);
  box-shadow: 0 0 5px var(--neon-color), 0 0 5px var(--neon-color);
}
.box-img{
  grid-area: box-img;
  position: relative;
  width: 550px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.box-img img{
  border-radius: 25px;
  position: absolute;
  height:100%;
  object-fit:cover;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, transparent, #0004);
}

.box-img::before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  background: #fff;
  z-index: -1;
  border-radius: 25px;
  filter: blur(20px);
}

.box-img::after{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  background: #fff;
  z-index: -2;
  filter: blur(20px);
  border-radius: 25px;
}

.box-img::before,
.box-img::after{
  background: linear-gradient(235deg, #00ff2a, #010615, #00ffff);
  animation: gradientopacity 7s linear infinite;
}

@keyframes gradientopacity {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
}

.box-icons{
  grid-area: box-icons;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  position: relative;
  height: 100%;
  width: 85%;
  margin: 20px;
}

.box-icons li {
  list-style: none;
}

.box-icons li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  pointer-events: none;
  font-weight: 700;
  transition: 0.5s;
  opacity: 0;
  color: var(--lightning-color);
}

.box-icons li:hover::before{
  opacity: 0.2;
  transform: translate(-50%, calc(-50% + 50px));
}

.box-icons li a {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  background: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightning-color);
  border-radius: 10px;
  text-decoration: none;
  margin: 16px;
  transform-style: preserve-3d;
  perspective: 200px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  transition: background 0.25s ease;
}

.js-tilt-glare{
  border-radius: 10px;
}

.box-icons li a i{
  font-size: 90px;
}

.box-icons li a:hover .linkedin{
  background: #0e76a8;
}

.box-icons li a:hover .github{
  background: #171515;
}

.box-icons li a:hover .instagram{
  background: #e4405f;
}

.box-icons li a .ic{
  transition: 0.25s;
  pointer-events: none;
}

.box-icons li a:hover .ic{
  color: var(--lightning-color);
  transform: scale(1.5) translateZ(40px);
}

/* footer */

.footer{
  background: var(--second-color);
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
}

.footer .container-footer{
  gap: 30px;
  margin: auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  align-items: center;
  justify-content: space-between;
}

.footer .container-footer .box-footer{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: auto;
}
.footer .container-footer .box-footer a {
  display: flex;
  justify-content: center;
}

.footer .container-footer .box-footer a img {
  width: 70%;
  margin: auto;
}

.footer .container-footer .box-footer p{
  color: var(--lightning-color);
}

.footer .container-footer .footer-icons{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;
}

.footer .container-footer .footer-icons li a i{
  font-size: var(--sub-title);
  color: var(--lightning-color);
  transition: 0.3s ease;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.footer .container-footer .footer-icons li a:hover i{
  color: var(--neon-color);
  transform: scale(1.3);
}

.footer .container-footer .footer-links{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin: auto;
}

.footer .container-footer .footer-links li{
  border-right: 1px solid var(--lightning-color);
  padding-right: 5px;
}

.footer .container-footer .footer-links li a{
  font-size: var(--text);
  color: var(--lightning-color);
  transition: 0.3s ease;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.footer .container-footer .footer-links li a:hover{
  color: var(--neon-color);
}

/* email */

#email{
height: 100vh;
}

.box-email{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-email {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  background-color: var(--middle-color);
  padding: 25px;
  border-radius: 25px;
  box-shadow: rgba(1, 40, 46, 0.5) 5px 5px, rgba(1, 40, 46, 0.4) 10px 10px, rgba(1, 40, 46, 0.3) 18px 18px, rgba(1, 40, 46, 0.2) 24px 24px;
}

.box-email .form-email h2{
  width: 100%;
  font-family: var(--poppins-font);
  color: var(--lightning-color);
  font-weight: 700;
  font-size: var(--title);
  text-align: center;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent 100%);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30);
}

.box-email .form-email p{
  width: 100%;
  font-family: var(--signika-font);
  color: var(--lightning-color);
  font-weight: 700;
  font-size: var(--sub-title);
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30);
}


.box-email .form-email a{
  display: flex;
  text-align: center;
  font-family: var(--signika-font);
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 16px;
  color: var(--second-color);
  border: 2px solid var(--second-color);
  background-color: var(--lightning-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.30);
  cursor: pointer;
  transition: 0.4s;
}

.box-email .form-email a:hover{
  background: var(--middle-color);
  color: var(--lightning-color);
  box-shadow: 1px 1px 5px var(--middle-color), 1px 1px 5px var(--neon-color);
  border: 2px solid var(--light-color);
}

/* button back to top */

.back-to-top {
  background: var(--lightning-color);
  color: var(--middle-color);
  position: fixed;
  right: 30px;
  bottom: 16px;
  clip-path: circle();
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--t-title);
  padding: 5px;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVO */

@media (max-width: 640px){
  #email{
    margin: 2px;
    }
}

@media (min-width: 767px){
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  
  nav .menu ul {
    display: flex;
    gap: 30px;
  }
  
  nav .icon-menu {
    display: none;
  }
}