* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  color: #FFF;
  font-family: "Poppins";
  font-size: 16px;
  text-decoration: none;
}

/* VARIABLES */
:root {
  --header-height: 4.5rem;
  /*color mode */
  --primary-color: #0F0E0E;
  --second-color: #01282e;
  --middle-color: #01444e;
  --light-color: #468E99;
  --lightning-color: #F4F2F4;
  --neon-color: #00fcff;
  --gray-color: #a5a5a5;

  /* fonts */
  --dance-font: 'Dancing Script', cursive;
  --dmsans-font: 'DM Sans', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --signika-font: 'Signika', sans-serif;
  --noto-font: 'Noto Sans', sans-serif;
}

body {
  height: vw;
  background: linear-gradient(-220deg, var(--second-color), var(--light-color));
  overflow-x: hidden;
}

#header {
  display: flex;
  top: 0;
  z-index: 999;
  position: fixed;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  background: linear-gradient(270deg, var(--light-color), var(--second-color));
}

.divider-1 {
  height: 2px;
  background: linear-gradient(270deg, var(--light-color), var(--second-color));
}

.divider-2 {
  height: 2px;
  background: linear-gradient(270deg, var(--second-color), var(--light-color));
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  z-index: 999;
}

.nav ul li {
  text-align: center;
}

.grid {
  display: flex;
  gap: 1rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.title {
  font-family: var(--signika-font);
  padding: 0 1rem;
  justify-content: space-evenly;
  color: var(--lightning-color);
  font-size: 1.1rem;
  -webkit-font-smoothing: auto;
}

.logo {
  font-family: var(--signika-font);
  font-weight: 400;
  color: var(--lightning-color);
  font-size: 1.5rem;
  display: flex;
  
}

.logo span {
  font-family: var(--signika-font);
  font-weight: 700;
  color: var(--light-color);
  font-size: 2rem;
}

.title:hover{
  color: var(--middle-color);
  background-color: var(--neon-color);
  border-radius: 0.7rem;
  box-shadow: 0 0 0.6rem var(--neon-color), 0 0 1.2rem var(--neon-color), 0 0 2.4rem var(--neon-color);
  transition: 0.2s;
  font-weight: 700;
  transform: scale(1.5);
  padding: 0.4rem 0.8rem;
}

.container {
  height: 98vh;
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 0;
}

.aside {
  padding-top: 2rem;
  justify-content: center;
  margin: auto;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.packicons {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: 13rem;

}

img.icons {
  filter: invert(100%) sepia(46%) saturate(2%) hue-rotate(9deg) brightness(115%) contrast(100%);
  height: 2.5rem;
  width: 2.5rem;
}

img.icons:hover {
  filter: invert(79%) sepia(33%) saturate(7486%) hue-rotate(135deg) brightness(94%) contrast(80%);
  transform: scale(1.3);
  transition: 0.3s;
}

#ronney{
  width: 40rem;
  position: relative;
  z-index: 1;
  margin: auto;
  margin-left: 15rem;
  transition: 0.2s;
}

#ronney-rf{
  width: 40rem;
  position: relative;
  margin: auto;
  margin-left: 16rem;
}

#ronney:hover, #ronney:hover ~ #ronney-rf{
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.4rem var(--neon-color));
  transition: 0.2s;
}

.frontend {
  font-family: var(--signika-font);
  font-weight: 700;
  color: var(--lightning-color);
  font-size: 2rem;
  padding-top: 1rem;
  position: relative;
  margin-left: 14rem;
 }

.frontend:hover{
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.4rem var(--neon-color));
  transition: 0.2s;
}

#circle {
  width: 55rem;
  z-index: -1;
  position: relative;
  right: 5rem;
  padding-top: calc(2rem + var(--header-height));
}

#photo{
  position: absolute;
  width: 48rem;
  z-index: 1;
  right: -6rem;
  padding-top: calc(2rem + var(--header-height));
}

#photo-sh{
  position: absolute;
  width: 48rem;
  right: -6.8rem;
  top: 0.2rem;
  padding-top: calc(2rem + var(--header-height));
  z-index: 0;
  opacity: 0.5;
}

#circleback {
  position: absolute;
  width: 120rem;
  z-index: -10;
  left: 1rem;
  top: 1rem;
  opacity: 0.1;
}

/* ABOUT */

#about {
  height: 98vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
  /* margin: auto 15rem; */
  z-index: 0;
  overflow: hidden;
}

.about-img {
  position: relative;
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-size: 500px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, #04cad13f);
  border-bottom: 2px solid var(--neon-color);
  z-index: 111;
}

.about-text{
  padding-top: 1.5rem;
  position: relative;
  width: 45rem;
  height: 50rem;
  margin-left: 12rem;
}

#fotofor{
  position: absolute;
  bottom: 0;
  height: 40rem;
  z-index: -1;
}

#fotofor-sh{
  position: absolute;
  bottom: 0;
  height: 40rem;
  left: 0.2rem;
  opacity: 0.5;
  z-index: -2;
}

.about-img:hover #fotofor {
  position: absolute;
  height: 47rem;
  transition: height 0.6s;
  bottom: 0;
}

.about-img:hover #fotofor-sh {
  height: 47rem;
  transition: height 0.6s;
}

.about-text h2 {
  font-weight: 700;
  color: var(--neon-color);
  font-size: 2.5rem;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.about-text h3 {
  font-weight: 700;
  color: var(--lightning-color);
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px var(--primary-color);
  text-decoration: underline;
}
.about-text h3 span{
  font-weight: 700;
  color: var(--neon-color);
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px var(--primary-color);
  text-decoration: underline;
}

.about-text p{
  padding-top: 1.2rem;
  font-weight: 400;
  color: #d3d3d3;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.8;
  padding-bottom: 2.5rem;
}

.about-text .btn {
  font-family: var(--poppins-font);
  background-color: var(--lightning-color);
  color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: 2px solid var(--neon-color);
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  transform: scale(1);
}

.about-text .btn:hover {
  background-color: var(--neon-color);
  color: var(--second-color);
  box-shadow: 0 0 0.6rem var(--neon-color), 0 0 1.2rem var(--neon-color), 0 0 2.4rem var(--neon-color);
  transition: 0.3s;
  font-size: 1rem;
}

/* CURSOS */

#cursos {
  height: 98vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

#cursos .cursos-title{
  width: 100vw;
  text-align: center;
  margin-top: calc(var(--header-height) + 4rem);
  background: linear-gradient(to right, transparent 10%, transparent 15%, var(--light-color), transparent 85%, transparent 100%);
}

#cursos .cursos-title h2{
  position: relative;
  font-family: var(--poppins-font);
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--lightning-color);
  text-shadow: .1rem .1rem .5rem var(--second-color);
  text-transform: uppercase;
}

#cursos .cursos-title > h2 > span:nth-child(1){
  position: relative;
  font-family: var(--signika-font);
  font-size: 3rem;
  font-weight: 700;
  color: var(--middle-color);
  text-shadow: none;
  transition: 0.5s;
}

#cards {
  bottom: 4rem;
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#cards .card {
  min-width: 25rem;
  position: relative;
  background: var(--second-color);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 1rem;
  width: calc(95% / 3 - 10%);
  height: calc(80% - 2rem);
}

#cards .card::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

#cards .card .content {
  padding: .5rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction:column;
  position: relative;
}

#cards .card .content h2 {
  padding-top: 1rem;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: var(--light-color);
  z-index: 1;
  opacity: 0.3;
  transition: 0.5s;
  line-height: 3rem;
}

#cards .card:hover .content h2,
#cards .card:hover .content h3{
  opacity: 1;
  transform: translateY(-1rem);
}

#cards .card .content h3{
  text-align: center;
  padding-bottom: .8rem;
  position: relative;
  font-size: 1.5rem;
  color: var(--lightning-color);
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5s;
}

#cards .card .content p {
  opacity: 0.5;
  transition: 0.5s;
  text-align: left;
  padding: 0.3rem 0.5em;
  color: var(--lightning-color);
  font-family: var(--arial);
  font-weight: 400;
  font-size: 0.9rem;
  justify-content: space-between;
}

#cards .card:hover .content p{
  opacity: 1;
}

#cards .card .content h3 > span {
  padding-bottom: .5rem;
  position: relative;
  font-size: 1.5rem;
  color: var(--light-color);
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5s;
}

#cards .card .content a {
  display: inline-flex;
  padding: .5rem 1rem;
  background: var(--lightning-color);
  color: var(--middle-color);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .5rem;
  transition: 0.5s;
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  margin: 1rem;
  bottom: 0;
  align-self: center;
}

#cards .card .content a:hover {
  background: var(--middle-color);
  color: var(--lightning-color);
  box-shadow: 0 0 10px var(--neon-color), 0 0 10px var(--neon-color), 0 0 20px var(--neon-color);
  transform: scale(1.1);
}

#cards .card > span {
  transition: 0.5;
  opacity: 0;
}

#cards .card:hover > span {
  opacity: 1;
}

#cards .card > span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(to right, transparent, var(--neon-color));
  animation: animatecard1 2s linear infinite;
  box-shadow: 0 0 10px var(--neon-color), 0 0 10px var(--neon-color), 0 0 20px var(--neon-color);
}

@keyframes animatecard1 {
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(100%);
  }
}

#cards .card > span:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--neon-color));
  animation: animatecard2 2s linear infinite;
  animation-delay: 1s;
  box-shadow: 0 0 10px var(--neon-color), 0 0 10px var(--neon-color), 0 0 20px var(--neon-color);
}

@keyframes animatecard2 {
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(100%);
  }
}

#cards .card > span:nth-child(3){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(to left, transparent, var(--neon-color));
  animation: animatecard3 2s linear infinite;
  box-shadow: 0 0 10px var(--neon-color), 0 0 10px var(--neon-color), 0 0 20px var(--neon-color);
}

@keyframes animatecard3 {
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(-100%);
  }
}

#cards .card > span:nth-child(4){
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(to top, transparent, var(--neon-color));
  animation: animatecard4 2s linear infinite;
  animation-delay: 1s;
  box-shadow: 0 0 10px var(--neon-color), 0 0 10px var(--neon-color), 0 0 20px var(--neon-color);
}

@keyframes animatecard4 {
  0%{
    transform: translateY(100%);
  }

  100%{
    transform: translateY(-100%);
  }
}
