        <div class="courses-title"><h2 data-text="Cursos & Especializações">Cursos & Especializações</h2></div>#courses {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: auto;
        }

        #courses .courses-title {
          text-align: center;
          background: linear-gradient(to right, transparent 10%, transparent 15%, var(--light-color), transparent 85%, transparent 100%);
        }

        #courses .courses-title h2 {
          position: relative;
          font-family: var(--poppins-font);
          font-size: var(--title);
          font-weight: 700;
          color: transparent;
          text-transform: uppercase;
          color: var(--lightning-color);
          text-shadow: 0 0 5px var(--second-color), 0 0 5px var(--second-color), 0 0 5px var(--second-color);
        }

        /* ///////////////////////////////// */


        <div class="media-icons"><i title="html 5"alt="html 5"class="fa-brands fa-html5"></i><i title="css 3"alt="css 3"class="fa-brands fa-css3-alt"></i><i title="javascript"alt="javascript"class="fa-brands fa-js"></i><i title="reactjs"alt="reactjs"class="fa-brands fa-react"></i></div>.media-icons {
          position: relative;
          width: 46%;
          height: 32%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
            "js js"
            "html css"
            "react react";
        }

        .media-icons i {
          font-size: 70px;
          color: var(--light-color);
          transition: 0.3s ease;
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .media-icons i:hover {
          -webkit-filter: drop-shadow(0 0 7px var(--neon-color), 0 0 16px var(--neon-color), 0 0 24px var(--neon-color));
          filter: drop-shadow(0 0 5px var(--neon-color));
          color: var(--neon-color);
          cursor: pointer;
          transform: scale(1.2);
        }

        .media-icons i:nth-child(1) {
          grid-area: html;
          color: #e44d26;
        }

        .media-icons i:nth-child(2) {
          grid-area: css;
          color: #1572b6;
        }

        .media-icons i:nth-child(3) {
          grid-area: js;
          color: #cfd300;
        }

        .media-icons i:nth-child(4) {
          grid-area: react;
          animation: react 6s linear infinite;
        }

        @keyframes react {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(-360deg);
          }
        }


        /* .aside h2{
  font-family: var(--noto-font);
  font-weight: 750;
  font-size: 75px;
  color: var(--light-color);
  -webkit-box-reflect: below -40px linear-gradient(transparent 50%, #fff4);
  transition: 0.2s ease;
}

.aside h2:hover{
  color: var(--neon-color);
  text-shadow: 0 0 5px var(--neon-color);
  cursor: pointer;
}

.aside h2 span{
  font-family: var(--noto-font);
  font-weight: 750;
  font-size: 75px;
  color: var(--lightning-color);
}

.aside h2 span:nth-child(2){
  margin-left: -10px;
} */

        /* #ronney{
  width: 100%;
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
}

#ronney-rf{
  width: 100%;
  position: relative;
  transition: 0.3s ease;
} */

        < !-- <img id="ronney"src="images/ronneydev.png"alt="logo ronneydev"/><img id="ronney-rf"src="images/ronneydev3.png"/>-->< !-- <h2><span><</span>RONNEY DE\<span>/></span></h2>-->@media (min-width: 768px) {

          :root {
            /* font sizes */
            --title: 40px;
            --menu: 16px;
            --sub-title: 28px;
          }

          /* layout responsive */
          /* menu responsive */
          nav .menu {
            opacity: 1;
            visibility: visible;
            top: 0;
          }

          nav .menu ul {
            display: flex;
            gap: 30px;
          }

          nav .icon-menu {
            display: none;
          }

          /* end menu responsive */

          main, nav.nav, .container, .footer .container-footer {
            max-width: 700px;
          }

          /* home responsive */
          #home {
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .aside {
            width: 100%;
            height: 50%;
          }

          .text-logo .arrowright {
            left: -64%;
          }

          @keyframes logoanime0 {
            40%, 60% {
              left: 0%;
            }

            100% {
              left: -64%;
            }
          }

          .aside .packicons {
            margin-top: 20px;
          }

          .aside-r {
            width: 80%;
            height: 50%;
          }

          .media-icons li a {
            width: 85px;
            height: 85px;
          }

          .media-icons li a i {
            font-size: 75px;
          }

          .media-icons li:nth-child(3):hover:before {
            transform: translate(0%, -130%);
          }

          .media-icons li:nth-child(4):hover:before {
            transform: translate(0%, 110%);
          }

          /* about responsive  */
          #about {
            flex-direction: column;
            justify-content: flex-start;
          }

          .about-img {
            flex-direction: row;
            width: 100%;
            height: 30%;
            padding: 0 25px;
            margin: 0;
            gap: 20px;
            align-items: flex-start;
          }

          .img-content:nth-child(1) {
            margin: 0px;
            margin-bottom: 60px;
            margin-top: 30px;
          }

          .img-content:nth-child(2) {
            margin: 0px;
            margin-top: 80px;
          }

          .about-text {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 20px;
            padding: 10px;
          }

          .about-text p {
            padding-top: 10px;
          }

          .about-text .btn {
            padding: 5px;
            border-radius: 15px;
            margin-top: 20px;
          }

          /* cousers responsive  */
          .swiper {
            padding-bottom: 18%;
          }

          /* certificates responsive  */
          .box-cert .linkcert {
            gap: 5px;
            width: 100%;
            bottom: 40px;
          }

          .box-cert label {
            width: 650px;
            margin-right: 20px;
          }

          #c1:checked~#cert-1, #c2:checked~#cert-2, #c3:checked~#cert-3, #c4:checked~#cert-4, #c5:checked~#cert-5 {
            transform: translate3d(0%, 0, 0);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30), 0 10px 5px rgba(0, 0, 0, 0.20);
          }

          #c1:checked~#cert-2, #c2:checked~#cert-3, #c3:checked~#cert-4, #c4:checked~#cert-5, #c5:checked~#cert-1 {
            transform: translate3d(0, 20%, -40px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 2px 2px rgba(0, 0, 0, 0.20);
          }

          #c1:checked~#cert-3, #c2:checked~#cert-4, #c3:checked~#cert-5, #c4:checked~#cert-1, #c5:checked~#cert-2 {
            transform: translate3d(0, 40%, -80px);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.40);
          }

          #c1:checked~#cert-4, #c2:checked~#cert-5, #c3:checked~#cert-1, #c4:checked~#cert-2, #c5:checked~#cert-3 {
            transform: translate3d(0, -40%, -80px);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.40);
          }

          #c1:checked~#cert-5, #c2:checked~#cert-1, #c3:checked~#cert-2, #c4:checked~#cert-3, #c5:checked~#cert-4 {
            transform: translate3d(0, -20%, -40px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 2px 2px rgba(0, 0, 0, 0.20);
          }

          .box-cert {
            flex-direction: column;
          }

          .box-cert input[type="radio"] {
            height: 10px;
            width: 20px;
            margin-right: 10px;
            transform: rotateZ(90deg);
            margin-bottom: 20px;
          }

          /* contact responsive  */

          .layout-contact {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            width: 100%;
            height: 100%;
            position: relative;
          }

          .box-form {
            position: relative;
            height: 50%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
            order: 2;
            margin: 0;
            margin-left: 25px;
          }

          .form-content {
            gap: 10px;
            min-width: 350px;
            width: 350px;
            height: 500px;
            padding: 0px;
          }

          .form-content form {
            gap: 15px;
            padding: 15px;
          }

          .box-img {
            position: relative;
            height: 40%;
            width: 80%;
            display: flex;
            z-index: 1;
            order: 1;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
          }

          .box-img::before,
          .box-img::after {
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            filter: blur(10px);
          }

          .box-icons {
            grid-area: box-icons;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0px;
            z-index: 2;
            order: 3;
            margin-right: 25px;
          }

          .box-icons li::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotateZ(-90deg);
            font-size: 80px;
          }

          .box-icons li:hover::before {
            opacity: 0.2;
            top: 50%;
            left: -40%;
          }

          .box-icons li a {
            width: 120px;
            height: 120px;
          }

          .box-icons li a i {
            font-size: 80px;
          }

          .box-icons li a:hover .ic {
            transform: scale(1.4) translateZ(40px);
          }

          /* footer responsive  */

          .footer .container-footer .box-footer a img {
            width: 100%;
          }

          .footer .container-footer .box-footer {
            margin: 0px;
          }

          .footer .container-footer .box-footer p {
            font-size: 14px;
          }

        }